<!DOCTYPE html>
<html>

<head>
    <title>
        About
    </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        About page of our website
        <p>We use mapbox and openweather APIs </p>
    </div>
    {{>footer}}
</body>

</html>