<!DOCTYPE html>
<html>

<head>
    <title>
        Index
    </title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="img/weather.png">

</head>

<body>
    <div class="main-content">
        {{>header}}
        Get weather from this website
        <form>
            <input placeholder="New York">
            <button>Search</button>
        </form>
        <p id="p1"></p>
        <p id="p2"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"> </script>
</body>

</html>